/* General navbar styling */
.navbar-transparent {
  background: transparent; /* Adjust as needed */
  padding: 10px 15px;
}

/* Icon group for alignment */
.icons-group {
  display: flex;
  gap: 15px; /* Space between icons */
  align-items: center;
}

/* Style for the cart icon */
.cart-iconn {
  font-size: 20px;
  color: red; /* Adjust icon color */
  position: relative;
}

/* Style for the user icon */
.user-icon {
  font-size: 22px;
  color: red;
}

/* Style for the cart count badge */
.cart-count {
  color: red;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
  position: absolute;
}

/* Ensure icons are visible on small screens */
@media (max-width: 576px) {
  .navbar {
    justify-content: space-between;

    font-size: 10px;
  }

  .icons-group {
    gap: 1px; /* Adjust spacing on smaller screens */
  }
  .cart-iconn {
    font-size: 10px;
  }

  .user-icon {
    font-size: 8px; /* Slightly smaller icons on smaller screens */
  }

  .cart-count {
    font-size: 8px;
    margin-top: 3px; /* Adjust font size for cart count */
  }
}
