.shopButtono {
  background: rgba(191, 117, 75, 1);
  color: white;

  top: 508px;
  left: 99.5px;
  font-size: 12px;
  padding: 18px 28px 18px 24px;
  gap: 12px;
  border-radius: 48px 48px 48px 48px;

  border: 1px solid rgba(191, 117, 75, 1);
}
.shopButtono:hover {
  background-color: white;
  color: rgba(191, 117, 75, 1);
}
@media (max-width: 768px) {
  .shopButtono {
    width: 100.5px;
    padding: 7px;
    height: 28px;

    font-size: 7px;
  }
}
